html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body{
  background-color: #322f2f;
}


.header { grid-area: header; }
.navigation { grid-area: menu; }
.main { grid-area: main; }
.menu_right { grid-area: right; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid:
    'header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer';
}