html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
}


.cabecalho { grid-area: header; }
.navigation { grid-area: menu; }
.conteudo_principal { grid-area: main; }
.sec_right { grid-area: right; }
.rodape { grid-area: footer; }

.layout {
  display: grid;
  grid:
    'header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}


.cabecalho {
  border: 2px inset black;
  padding: 10px;
}

.navigation {
  display: block;
  padding: 10px;
}

.navigation ul li {
  border: 2px inset black;
  list-style: none;
  padding: 5px;
  margin: 10px;
}

.navigation ul li a {
  text-decoration: none;
}

.conteudo_principal {
  border: 2px inset black;
}

.sec_right {
  border: 2px inset black;
}

.rodape {
  border: 2px inset black;
}